* {
    margin: 0;
    padding: 0;
}

h1, li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

button {
    -webkit-appearance: none;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    background-color: #333;
    align-items: center;
    justify-content: center;
}

.body {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.title-div {
    background-color: #333340;
    height: 30px;
    width: 100%;
}

.title-drag {
    -webkit-app-region: drag;
}

.win-btns {
    top: 5px;
    height: auto;
    position: absolute;
    right: 0;
}

.win-btn {
    position: relative;
    height: 100%;
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.2s;
    cursor: pointer;
    outline: 0;
    user-select: none;
}

.win-btn:hover {
    color: #3498db;
}

.win-btn i {
    width: auto;
    text-align: center;
}

.close-btn:hover {
    color: #f00;
}

.body-div {
    height: 100%;
    width: 100%;
    background-color: #17171A;
    display: flex;
}

.body-elements {
    height: 100%;
}

.left-nav {
    width: 180px;
    background-color: rgb(43, 43, 54);
    display: table;
}

.left-nav ul {
    display: table;
    text-decoration: none;
    width: 100%;
}

.left-nav ul li {
    display: grid;
}

.left-nav ul li a {
    text-decoration: none;
    padding: 10px 5px;
    font-size: 20px;
    width: 180px;
    text-align: left;
    color: #fff;
    background-color: rgb(43, 43, 54);
    cursor: pointer;
    transition: 0.2s;
}

.left-nav ul li a:hover {
    color: #ff6700;
}

.left-nav ul li a:hover i {
    color: #ff6700;
}

.left-nav i {
    width: 25px;
    margin-left: 10px;
    margin-right: 5px;
    color: #fff;
    background-color: rgb(43, 43, 54);
    transition: 0.2s;
}

.body-modal {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    transition: 0.5s;
    display: flex;
    overflow-y: scroll;
}

.body-modal-1 {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    transition: 0.5s;
    display: block;
}

.modals {
    display: flex;
}

.option-element {
    height: 500px;
    width: 380px;
    background-color: #3C4249;
    box-shadow: rgba(0,0,0,0.5) 3px 3px 10px 0;
    margin: 10px 10px;
    border: 3px solid rgb(49, 49, 49);
}

.chart-element {
    height: 300px;
    width: 400px;
    background-color: #222;
}

.wifi-element {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    background-color: #222;
    align-items: center;
    justify-items: center;
}

.wifi-element h1 {
    margin-left: 10px;
}

.wifi-element input {
    margin: 10px 20px;
}

.devices-nav {
    width: 0;
    background-color: rgb(38, 38, 47);
    transition: 0.3s;
    z-index: 1;
    overflow-x: hidden;
    display: grid;
}

.devices-nav i {
    padding: 0 10px;
    color: #fff;
    background-color: rgb(53, 53, 64);
    transition: 0.2s;
}

.devices-nav div h1 {
    cursor: default;
}

.devices-nav div * {
    transition: 0.2s;
    display: flex;
    align-items: center;
}

.devices-nav .dvc-title {
    background-color: #333;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.devices-nav .dvc-title h1 {
    margin: 2px 10px;
}

.devices-div {
    height: 90%;
}

.check_btn {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    outline: none;
    margin: 10px 10px;
    cursor: pointer;
}

.check_btn:hover {
    border: 2px solid #3498db;
}

.check_btn:checked {
    background-color: #3498db;
}

.slider-div {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    /*background-color: rgb(57, 62, 68);*/
}

.slider-div h1 {
    margin-left: 10px;
}

.slider-div input[type="number"] {
    -webkit-appearance: none;
    width: 15%;
    margin-left: 10px;
    background: transparent;
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgba(white, .05);
    color:#fff;
    text-align: center;
    font-size: 20px;
}

.slider-div input[type="number"]::-webkit-outer-spin-button,
.slider-div input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.slider-div input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: #3498db;
    width: 60%;
    outline: none;
    height: 4px;
    border-radius: 4px;
}

.slider-div input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 20px;
    /* border: 2px solid rgba(0,0,0,0.5); */
    border: 2px solid rgba(255,255,255,0.5);
    background: #3498db;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.slider-div input[type="range"]:hover::-webkit-slider-thumb {
    border: 2px solid rgba(255,255,255,1);
}

.modes {
    width: 100%;
    height: 270px;
    display: grid;
}

.modes div {
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.opt-btns {
    display: grid;
    justify-items: center;
    align-items: center;
    bottom: 0;
    position: fixed;
    grid-template-columns: 1fr 1fr;
}

.opt-btn {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    font-size: 18px;
    color: #fff;
    background: #3C4249;
    border: 2px solid #fff;
    cursor: pointer;
    outline: 0;
    transition: 0.3s;
}

.opt-btn:hover {
    background: #3498db;
}

.opt-btn:disabled {
    border: 2px solid #555;
    color: #555;
}

.div-title {
    border: 10px solid rgb(49, 49, 49);
}

.div-title h1 {
    background-color: rgb(49, 49, 49);
}

.el-title {
    border: 10px solid rgb(52, 57, 63);
}

.el-title h1 {
    background-color: rgb(52, 57, 63);
}

.wifi-separator {
    height: 30px;
    border: 1px solid #fff;
    margin-left: 30px;
    margin-right: 20px;
}

.RSSI-bar {
    margin-left: 10px;
    width: 160px;
    height: 30px;
    background-color: #333;
    display: flex;
    align-items: center;
}

.RSSI-bar h1 {
    margin-left: 64px;
    position: absolute;
}

.RSSI-progress {
    height: 100%;
}

.atk-opt {
    display: flex;
    align-items: center;
}

.grad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.grad-container input {
    height: 20px;
    width: 20px;
    border: 2px solid #fff;
    background-color: #000;
    border-radius: 20px;
    margin: 10px 10px;
    outline: none;
    cursor: pointer;
}

.grad {
    height: 20px;
    border-radius: 20px;
    width: 80%;
    background-image: linear-gradient(to right, black, black);
}