* {
    margin: 0;
    padding: 0;
}

h1, li, a, button, input, span {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    background-color: #eee;
}

.lnv-btn {
    width: 80px;
    height: 80px;

    border-radius: 50%;

    background-color: #2db2e7;

    bottom: 20px;
    left: 20px;

    position: fixed;
    box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.5);

    transition: left 0.3s;
}

.lnv-btn i {
    width: inherit;
    height: inherit;

    font-size: 32px;

    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    transition: opacity 0.3s;
}

.lnv-btn .menu-open {
    opacity: 1;
}

.lnv-btn .menu-close {
    opacity: 0;
}

.lnv {
    background-color: #202D32;

    width: 0;
    height: 100%;

    z-index: 10;

    overflow: hidden;
    position: fixed;

    bottom: 0;

    transition: width 0.3s;
}

.lnv .item {
    display: flex;

    flex-direction: column;
}

.lnv .title {
    background-color: #131b1e;

    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
}

.lnv .title h1 {
    color: rgba(255, 255, 255, 0.5);

    position: absolute;
    left: 20px;

    font-size: 12px;
    font-family: "Open Sans";
}

.lnv .l-spacer {
    border: 1px solid #888;

    max-width: 100%;

    margin: 0 10px 5px 10px;
}

.lnv #devices {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.lnv .btn {
    width: 100%;
    height: 40px;

    cursor: pointer;

    display: flex;

    align-items: center;

    background-color: transparent;

    transition: background-color 0.1s linear;
}

.lnv .btn img {
    width: 20px;
    height: 20px;

    position: absolute;

    left: 10px;
}

.lnv .btn:hover {
    background-color: #463a49 !important;
}

.lnv .btn i {
    position: absolute;
    left: 20px;
}

.lnv .btn h1 {
    position: absolute;
    left: 40px;

    user-select: none;

    font-size: 15px;
}

.lnv h1 {
    color: #fff;
}

.opts {
    display: flex;

    flex-direction: column;
}

.opts div {
    cursor: pointer;
    display: flex;

    width: 100%;
    height: 35px;

    align-items: center;

    transition: background-color 0.1s;
}

.opts div:hover {
    background-color: #463a49;
}

.opts div i {
    position: absolute;

    left: 10px;

    height: 16px;
    width: 16px;
}

.opts div h1 {
    font-size: 16px;

    position: absolute;

    left: 40px;

    font-family: "Open Sans";
}

.opts #set i {
    color: #eee;
}

.mbd {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-flow: column;
}

.cntb {
    display: flex;
    
}

.cnt {
    background: #fff;
    padding-top: 20px;
    margin: 20px 20px 20px 20px;
    width: 100%;
    height: auto;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.gr1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
}

.it1 header, .it2 header {
    width: 100%;
    height: 40px;
    background: #258EB8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.it1 header h1 {
    font-size: 18px;
    line-height: 27px;
    padding-left: 8px;
}

.it1 {
    flex: 1 1 300px;
    max-width: 300px;
    height: 355px;
    background: #313447;
    margin-bottom: 20px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);    
    display: flex;
    flex-direction: column;
}

.it2 {
    max-width: 490px;
    height: 380px;
    background: #313447;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    flex: 1 1 550px;
    margin-bottom: 20px;
}

.it2 canvas {
    width: 100%;
    height: calc(100% - 40px);
}

.box-content {
    margin: 20px;

    display: flex;
    flex-direction: column;
}

.box-content .color-info {
    align-self: center;
}

#mode .bd {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
}

#mode input[type='range'] {
    margin-bottom: 20px;
}

.el1 {
    align-items: center;
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: rgb(197, 197, 197);
    border-radius: 10px;
    outline: 0;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #C9EEF2;
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);
}

#color input[type='range'] {
    margin-bottom: 30px;
}

.el1 div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sbl1 {
    display: block;
}

.sbl1 div {
    display: flex;
    align-items: center;
}

.sbl1 h1 {
    font-size: 18px;
    width: 40px;
}

.hex input {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 30px;
    background: #C4C4C4;
    border: 0;
    margin: 4px;
    border-radius: 5px;
    outline: 0;
    text-align: center;
}

.rgb input {
    -webkit-appearance: none;
    appearance: none;
    width: 60px;
    height: 30px;
    background: #C4C4C4;
    border: 0;
    margin: 4px;
    border-radius: 5px;
    outline: 0;
    text-align: center;
}

.dpdwn-body {
    width: 100%;
    margin: 2.5px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    z-index: 1;
}

.dpdwn {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 35px;
    background-color: #185872;
    border: 0;
    border-radius: 5px 5px 5px 5px;
    outline: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dpdwn-options {
    width: 100%;
    max-height: 0;
    background-color: #185872;
    border: 0;
    outline: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    transition: max-height 0.2s ease-in;
}

.dpdwn span, .dpdwn-options span {
    padding: 5px;

    font-family: "Open Sans";
}

.dpdwn-options span {
    cursor: pointer;
    transition: 0.3s;
}

.dpdwn-options span:hover {
    background-color: #6896A0;
}

.el3 {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
}

.el3 div {
    width: 160px;
    height: 30px;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: solid 2px #474c68;
}

.spacer {
    width: auto;
    height: 15px;
    background-color: #dddddd;
    border-radius: 5px;
    margin: 40 10 40 10px;
}

.gr2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 1150px) {

}