/** {
    margin: 0;
    padding: 0;
}

h1, li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.title-div {
    background-color: #333340;
    height: 30px;
    width: 100%;
}

.title-drag {
    -webkit-app-region: drag;
    height: 100%;
    width: 94%;
}

.win-btns {
    top: 5px;
    height: auto;
    position: absolute;
    right: 0;
}

.win-btn {
    position: relative;
    height: 100%;
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.2s;
    cursor: pointer;
    outline: 0;
    user-select: none;
}

.win-btn:hover {
    color: #3498db;
}

.win-btn i {
    width: auto;
    text-align: center;
}

.close-btn:hover {
    color: #f00;
}